h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: bold;
}

p {
    flex: items-center justify-between;
    margin-bottom: 2em;
}

ul{
    list-style-type: disc;
    padding-left: 20px;
}

.about-text {
    margin-top: 1.5em;
    color: #4A5568; 
    line-height: 1.75;
    font-size: 1rem;
}

.about-content {
    background-color: #FFFFFF; 
    border-radius: 0.375rem; 
    flex: 1; 
    margin: 1rem; 
    margin-top: 0; 
    padding: 1rem; 
}

h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.5em 0 0.5em 0;
}

video {
    display: block;
    margin: 1em auto;
    max-width: 100%;
    border-radius: 0.375rem;
}

h3 {
    font-size: 1.25em;
    font-weight: bold;
    flex: items-center justify-between;
    text-align: center;
}

.video-text{
    margin-top: 0.5em;
    color: #4A5568; 
    text-align: center;
    font-size: 0.875rem;  
}