h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    font-family: 'sans-serif';
    font-weight: bold;
}

.reset-things{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  font-family: sans-serif;
}

.input-field {
align-items: center;
  display: block;
  margin-right: 15px;
  margin: 10px auto;
  padding: 12px;
  width: 200px;
  font-size: 18px;
}
.reset-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #209c3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto; /* top, right, bottom, left */
}

.back {
    margin-top: 10px;
    padding: 5px;
}
