h1 {
    padding-top: 25px;
    text-align: center;
    font-size: 30px;
    font-family: tahoma;
    font-weight: bold;
}

.reset-things{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

}

.input-field {
  background-color: #d3d2d2;
  display: block;
  margin-right: 15px;
  margin: 10px auto;
  padding: 12px;
  width: 200px;
  font-size: 18px;
}
.reset-button {
  margin-top: 15px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #209c3b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 15px auto 0 auto; /* top, right, bottom, left */
}

.back-button {
    font-family: sans-serif;
    margin-top: 10px;
    cursor: pointer;
    background-color: rgb(56, 56, 56); 
    color: white;
    border-radius: 4px;
    padding: 5px;
    font-size: 10px;
}
